<div class="index-container">

  <div class='text-center'>

    <h1>Recipes</h1>
    <h3>Select your ingridients</h3>

    <div class="searchbar">
      <form>
        <%= form_tag recipes_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "search_bar",
            placeholder: "Find a recipe"
          %>
          <%= submit_tag "Search", class: "search-btn" %>
        <% end %>
      </form>
    </div>

    <div class="recipe-card">
      <img src="https://144f2a3a2f948f23fc61-ca525f0a2beaec3e91ca498facd51f15.ssl.cf3.rackcdn.com/uploads/food_portal_data/recipes/recipe/hero_article_image/4417/compressed_Meatlessfarm_Lasagne.jpg" />
      <% @recipes.each do |recipe| %>
      <div class="card-product-infos">
        <h2><%= recipe.title %></h2>
        <p><%= recipe.instruction %></p>
        <p>prep time: <%= recipe.cooking_time %></p>
      </div>
      <% end %>
    </div>

    <div class="trending-card">
      <h3>Trending</h3>
      <div class="recipe-card">
      </div>
    </div>

  </div>
</div>
