<div class="show-container">

  <div class="card-recipe-show">
    <img src="https://144f2a3a2f948f23fc61-ca525f0a2beaec3e91ca498facd51f15.ssl.cf3.rackcdn.com/uploads/food_portal_data/recipes/recipe/hero_article_image/4417/compressed_Meatlessfarm_Lasagne.jpg" />
      <div class="cooking_time">
        <%= @recipe.cooking_time %> min
      </div>
      <div class="bookmark-recipe">
        <%= image_tag 'bookmark-white.svg' %>
      </div>
  </div>

  <div class='ingridients-container'>
    <div class="d-flex" style="justify-content: space-between; color: #E0AC62;">
    <h1> <%= @recipe.title %> </h1>
      <div class="rating-star" style="padding-top: 1.3%;">
        <% if @recipe.reviews.empty? %>
               Be the first to review
            <% else %>
              <% @recipe.rating_average.times do %>
                <i class="fas fa-star"></i>
                <% end%>
              <% unless @recipe.rating_average == 5 %>
                <% (5 - @recipe.rating_average).times do  %>
                  <i class="far fa-star"></i>
                <% end %>
              <% end %>
        <% end %>
      </div>
    </div>

    <h6>Ingredients:</h6>
    <div class="ingredient-text">
      <% @recipe.ingredients.each do |ingredient| %>
        <%= ingredient.name %>
      <% end %>
    </div>
  </div>

  <div class='instructions-container'>
    <h3>Instructions</h3>
    <p><%= @recipe.instruction %></p>
  </div>

    <div class="page">
    <%#= link_to 'other recipes', :back %>
    </div>
  <div class="others-container">
    <h3> Other suggestions</h3>
      <% @recipes.each do %>
    <div class="img-recipe-suggestion">
      <img src="https://assets.bonappetit.com/photos/57ae32871b33404414975b7c/1:1/w_2560%2Cc_limit/rigatoni-with-spicy-calabrese-style-pork-ragu.jpg">
    </div>
    <% end %>
  </div>

</div>

 <%= render 'shared/navbar' %>
