<div class="show-container">

  <div class="card-recipe-show">
    <img src=<%= @recipe.photo %>>
      <div class="cooking_time">
        <%= @recipe.cooking_time %> min
      </div>
      <div class="bookmark-recipe" data-bookmark-id="<%= @recipe.id %>">
        <%= render  'bookmarks/bookmark_icon', locals: { recipe: @recipe.id, page: 'show' } %>
      </div>
  </div>

  <div class='ingridients-container'>
    <div class="d-flex" style="justify-content: space-between; color: #E0AC62;">
    <h2> <%= @recipe.title %> </h2>
      <div class="rating-star" style="padding-top: 1.3%; ">
        <% if @recipe.reviews.empty? %>
               Be the first to review
            <% else %>
              <% @recipe.rating_average.times do %>
                <i class="fas fa-star"></i>
                <% end%>
              <% unless @recipe.rating_average == 5 %>
                <% (5 - @recipe.rating_average).times do  %>
                  <i class="far fa-star"></i>
                <% end %>
              <% end %>
        <% end %>
      </div>
    </div>

    <h6>Ingredients:</h6>
    <div class="ingredient-text">
      <% @recipe.ingredients.each do |ingredient| %>
        <%= ingredient.name %>
      <% end %>
    </div>
  </div>

  <div class='instructions-container'>
    <h3>Instructions</h3>
    <p><%= @recipe.instruction %></p>
  </div>

  <div class="others-container">
    <h3> Other suggestions</h3>
      <% @recipes.each do |recipe|%>
    <div class="img-recipe-suggestion">
      <img src=<%= recipe.photo %>>
    </div>
    <% end %>
  </div>

</div>
