<div class="show-container">

  <div class="card-recipe-show">
    <img src=<%= @recipe.photo %>>
    <div class="recipe-icons">
      <div class="recipe-time">
        <%= @recipe.cooking_time %> min
      </div>
      <div class="bookmark-recipe" data-bookmark-id="<%= @recipe.id %>">
        <%= render  'bookmarks/bookmark_icon', locals: { recipe: @recipe.id, page: 'show' } %>
      </div>
    </div>
  </div>

  <div class='ingridients-container'>
    <div class="d-flex" style="justify-content: space-between; color: #E0AC62;">
      <h2> <%= @recipe.title %> </h2>
      <div class="recipe-rating">
        <% @recipe.rating_average.times do %>
          <i class="fas fa-star"></i>
        <% end %>
        <% unless @recipe.rating_average == 5 %>
          <% (5 - @recipe.rating_average).times do  %>
            <i class="far fa-star"></i>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="accordion-1">
      <div class="head active">
        <h3>Ingredients</h3>
        <i class="fas fa-angle-down arrow"></i>
      </div>
      <div class="content">
        <ul>
          <% @recipe.doses.split("\n").each do |doses| %>
            <li><%= doses %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

<!--   <div class='instructions-container'>
    <h3>Instructions</h3>
    <p><%= @recipe.instruction %></p>
  </div> -->

    <div id="accordion-2">
    <div class="head active">
      <h3>Instruction</h3>
      <i class="fas fa-angle-down arrow"></i>
    </div>
    <div class="content">
      <% @recipe.instruction.split("\n").each_with_index do |step, index| %>
        <p><%= (index + 1).to_s + "-  " + step %></p>
      <% end %>
    </div>
  </div>
</div>
