
<nav class="footer fixed-bottom">
  <div class="navbar-container">
    <div class="navbar-icons">
        <%= link_to recipes_path do %>
          <% if current_page?(recipes_path) %>
            <%= image_tag 'icons_green/search_green.svg' %>
          <% else %>
            <%= image_tag 'icons_orange/search_orange.svg' %>
          <% end %>
        <% end %>
        <%= link_to fridge_path do %>
          <% if current_page?(fridge_path) %>
            <%= image_tag 'icons_green/fridge_green.svg' %>
          <% else %>
            <%= image_tag 'icons_orange/fridge_orange.svg' %>
          <% end %>
        <% end %>
        <%= link_to bookmarks_path do %>
          <% if current_page?(bookmarks_path) %>
            <%= image_tag 'icons_green/bookmark_green.svg' %>
          <% else %>
            <%= image_tag 'icons_orange/bookmark_orange.svg' %>
          <% end %>
        <% end %>
    </div>
  </div>
</nav>









