<nav class="footer fixed-bottom">
  <div class="navbar-container">
    <div class="navbar-icons">
        <%= link_to recipes_path do %>
          <%= image_tag 'search.svg' %>
        <% end %>
        <%= link_to 'fridge_path' do %>
          <%= image_tag 'fridge.svg' %>
        <% end %>
        <%= link_to 'bookmarks_path' do %>
          <%= image_tag 'bookmark.svg' %>
        <% end %>
    </div>
  </div>
</nav>
