<div class="navbar-top">
  <% if (@recipe && current_page?(recipe_path(@recipe.id))) || current_page?(recipes_path) %>
    <div class="icon-back">
      <%= link_to :back do %> <!-- another way to go back through the history of pages <%#= link_to 'javascript:history.back()' do %> -->
        <i class="fas fa-chevron-left"></i>
      <% end %>
    </div>
  <% end %>
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag("logo/logo_small_white.svg") %>
    <% end %>
  </div>
  <div class="icon-profile">
    <% if user_signed_in? %>
      <div class="User-area">
        <div class="User-avtar">
          <i class="fas fa-bars"></i>
        </div>
          <ul class="User-Dropdown">
            <div class="bookmarks-profile">
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key,  width: 150, height: 150, crop: :thumb, gravity: :face %>
              <% else %>
                <i class="fas fa-user"></i>
              <% end %>
            </div>
            <li><%= current_user.first_name %></li>
            <li><%= current_user.address %></li>
            <li><%= link_to 'My cookbook', bookmarks_path %></li>
            <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          </ul>
      </div>
    <% else %>
      <%= link_to new_user_session_path do %>
        <i class="far fa-user"></i>
      <% end %>
    <% end %>
  </div>
</div>
