<div class="navbar-top">
  <% if (@recipe && current_page?(recipe_path(@recipe.id))) || current_page?(recipes_path) %>
    <div class="icon-back">
      <%= link_to :back do %> <!-- another way to go back through the history of pages <%#= link_to 'javascript:history.back()' do %> -->
        <i class="fas fa-chevron-left"></i>
      <% end %>
    </div>
  <% end %>
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag("logo/logo_small_white.svg") %>
    <% end %>
  </div>
  <div class="icon-profile">
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fas fa-user-circle"></i>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
        <i class="far fa-user"></i>
      <% end %>
    <% end %>
  </div>
</div>
